* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
	font-family: 'Poppins',sans-serif;
	box-sizing: border-box;
}

nav {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	z-index: 10000;
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 40px;
	padding-right: 4%;
	padding-left: 4%;
	background: transparent;
}

nav ul li {
	display: inline-block;
	margin: 0 30px;
}
.logo {
	font-size: 35px;
	font-weight: bold;
	color: white;
	letter-spacing: 1px;
	cursor: pointer;
}
.logo span {
	color: #E14842;
}
nav ul li a {
	color: white;
	font-family: 'Poppins',sans-serif;
	font-size: 16px;
	font-weight: bold;
	border-bottom: 2px solid transparent;
	transition:all .4s ease;
}
nav ul li a:hover {
	color: #E14842;
	border-bottom: 2px solid #E14842;
}
.btn {
	font-family: 'Poppins',sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: white;
	padding: 8px 20px;
	background: #E14842;
	border: 2px solid transparent;
	border-radius: 30px;
	transition:all .4s ease;
}
.btn:hover {
	background: transparent;
	border: 2px solid #E14842;
	cursor: pointer;
}
#menu-icon {
	color: white;
	font-size: 25px;
	display: none;
}
.hero {
	height: 100%;
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(to bottom right, #60EBD9, #573AE4);
	position: relative;
	display: grid;
	grid-template-columns: repeat(2,450px);
	align-items: center;
	gap: 3rem;
}

section {
	padding: 15% 13%;
}
.hero-text {
	position: relative;
	right: 100px;
}
.hero-text h1 {
	color: white;
	font-size: 70px;
	font-family: 'Poppins',sans-serif;
	margin: 0 0 45px;
	line-height: 1;
}
.hero-text h1 span {
	color: #E14842;
}
.hero-text p {
	color: white;
	font-size: 17px;
	font-weight: bold;
}

/*slider-slider*/
.slider {
	width: 500px;
	height: auto;
	overflow: hidden;
	border-radius: 10px;
}
.slide {
	width: 500px;
	height: 400px;
	display: flex;
}
.slide input {
	display: none;
}
.st {
	width: 100%;
	transition: 2s;
}
.st img {
	width: 500px;
	height: 400px;
}
.nav-m {
	width: 500px;
	position: absolute;
	margin-top: -40px;
	justify-content: center;
	display: flex;
}
.m-btn {
	border: 2px solid #60EBD9;
	border-radius: 10px;
	margin-right: 20px;
	padding: 5px;
	cursor: pointer;
	transition: 1s;
}
m-btn:not(:last-child){
	margin-right: 20px;
}
m-btn:hover {
	color:#60EBD9;
}
#radio1:checked ~.first {
	margin-left: 0;
}
#radio2:checked ~.first {
	margin-left: -100%;
}
#radio3:checked ~.first {
	margin-left: -200%;
}
#radio4:checked ~.first {
	margin-left: -300%;
}
.nav-auto {
	position: absolute;
	width: 500px;
	margin-top: 360px;
	margin-left: -9px;
	display: flex;
	justify-content: center;
}
.nav-auto div {
	border: 2px solid #60EBD9;
	padding: 5px;
	border-radius: 10px;
	transition: 1s;
}
.nav-auto div:not(:last-child) {
	margin-right: 20px;
	justify-content: center;
}
#radio1:checked ~.nav-auto .a-b1{
	background-color: #60EBD9;
}
#radio1:checked ~.nav-auto .a-b2{
	background-color: #60EBD9;
}
#radio1:checked ~.nav-auto .a-b3{
	background-color: #60EBD9;
}
#radio1:checked ~.nav-auto .a-b4{
	background-color: #60EBD9;
}
/*end slider*/

.about-img {
	width: 30%;
	height: auto;
	border-radius: 20px;
  	background: radial-gradient( rgba(255, 255, 255, 1), rgba(0, 0, 0, 0.8)), #000000;
}
.about {
	width: 100%;
	padding: 100px 0;
	background: linear-gradient(to bottom right, #60EBD9, #573AE4);
}
.about-text {
	width: 550px;
}
.main {
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2 {
	font-size:50px;
	color: white;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about-text h5 {
	font-size: 20px;
	color: white;
	text-transform: capitalize;
	letter-spacing: 2px;
	margin-top: 30px;
}
.about-text h5 span {
	color: #E14842;
	font-size: 20px;
	text-transform: capitalize;
	letter-spacing: 2px;
}
.about-text p {
	color: #fcfc;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom:45px;
}
button {
	color:white;
	font-size: 16px;
	background-color: #E14842;
	font-weight: bold;
	padding:13px 30px;
	border: 2px solid transparent;
	border-radius:25px;
	transition: .4s;
}
button:hover {
	background-color: transparent;
	border: 2px solid  #E14842;
	cursor: pointer;

}

.contact-me {
	width: 100%;
	height: 290px;
	background: #573AE4;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.contact-me p {
	font-size: 30px;
	color: white;
	font-weight: bold;
	margin-bottom: 25px;
}
.contact-me .button-two {
	color:white;
	background-color: #E14842;
	font-weight: bold;
	padding:13px 30px;
	border: 2px solid transparent;
	border-radius:25px;
	transition: .4s;
}
.contact-me .button-two:hover {
	background-color: transparent;
	border: 2px solid  #E14842;
	cursor: pointer;
}

footer {
	position: relative;
	width: 100%;
	height: 400px;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1) {
	font-size: 25px;
	font-weight: bold;
	color: white;
	margin-bottom: 20px;
}
footer p:nth-child(2) {
	color: white;
	font-size: 18px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social {
	display: flex;
}
.social a {
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #E14842;
	margin: 22px 10px;
	border-radius: 50%;
	color: white;
	font-size: 23px;
}
.social a:hover {
	transform: scale(1.2);
	transition: .3s;
}
.end {
	position: absolute;
	color: #E14842;
	bottom: 35px;
	font-size: 14px;
}

@media (max-width: 1280px) {
	section {
		padding: 8% 10%;
		transition: .2s;
	}
	.hero {
		gap:0.8rem;
	}
	.hero-text h1 {
		font-size: 60px;
	
	}
	.hero-text {
		margin-left: 40px;
	}
}
@media (max-width: 1140px) {
	.slider {
		width: 400px;
		height: auto;
	}
	.slide {
		width: 400px;
		height: 300px;
	}
	.st img {
		width: 400px;
		height: 300px; 
	}
	.nav-auto {
		margin-top: 260px;
	}
	.hero {
		grid-template-columns: repeat(2,350px);
		gap:0.2rem

	}
	.hero-text h1 {
		font-size: 50px;
	
	}
	.hero-text {
		margin-left: 60px;
	}
	nav ul li {
		margin: 0 20px;
	}
	nav {
		padding-right: 6%;
		padding-left: 6%;
	}
	.logo {
		font-size: 30px;
	}
	.btn {
		padding: 5px 18px;
		font-size: 15px;
	}
}
@media (max-width: 992px) {
	#menu-icon {
		display: block;
	}
	.navbar {
		position: absolute;
		top: 100%;
		right: -100%;
		width: 300px;
		height: 50vh;
		background: #E14842;
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 50px 20px;
		transition: all .55s ease;
	}
	.navlist a {
		margin-left: 0;
		display: block;
		margin:7px 0;
	}
	nav ul li a:hover {
		color: #60EBD9;
	}
	.navbar.open {
		right: 0;
	}
	.btn {
		display: none;
	}
	.about-text h2 {
		font-size: 30px;
	}
}
@media(max-width: 900px) {
	.hero {
		grid-template-columns: 1fr;
		height: auto;
		min-height: 110vh;
	}
	.hero-text {
		margin-bottom: -200px;
	}
	.about-img {
		position: absolute;
		bottom: -450px;
		left: 300px;
	}
	.about-text h2 {
		margin-left: 50px;
	}
	.about-text h5 {
		margin-top: 200px;
	}
	.about-text h5 p {
		margin-right: 60px;
	}
}